.logo {
    height: 60px;
    float: left;
    margin-right: 20px;
}

div {
    
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 30px;
}

h2 {
    margin: 0 0 10px 0;
    font-size: 22px;
}

h3 {
    margin: 12px 0 0;
}

p {
    font-size: 20px;
}

a {
    font-family: sans-serif;
    text-decoration: none;
}

#list {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.student {
    width: 400px;
    margin: 5px;
    padding:10px;
    height: 290px;
    background-color: #eeeeee;
}

#list img {
    width: 400px;
}


#list:first-child {
    margin-top: 0;
}

.github {
    font-size: 14px;
}
