.logo {
    height: 60px;
    float: left;
    margin-right: 20px;
}

div {
    
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 30px;
}

h2 {
    margin: 0 0 10px 0;
    font-size: 22px;
}

h3 {
    margin: 12px 0 0;
}

p {
    font-size: 20px;
}

a {
    font-family: sans-serif;
    text-decoration: none;
}

#list {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.student {
    width: 400px;
    margin: 5px;
    padding:10px;
    height: 290px;
    background-color: #eeeeee;
}

@media (max-width: 600px) {
    .student {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    .student {
        width: 45%;
    }
}

@media (min-width: 1000px) and (max-width: 1400px) {
    .student {
        width: 30%;
    }
}

@media (min-width: 1400px) and (max-width: 2000px) {
    .student {
        width: 22%;
    }
}

@media (min-width: 2000px) and (max-width: 2400px) {
    .student {
        width: 18%;
    }
}

@media (min-width: 2400px) {
    .student {
        width: 14.5%;
    }
}

#list img {
    width: 100%;
}


#list:first-child {
    margin-top: 0;
}

.github {
    font-size: 14px;
}
